# eclipse
.settings
.project
.classpath
.mymetadata
.myhibernatedata
.springBeans
.apt_generated
.factorypath

# java
*.class

# jrebel
rebel.xml

# Package Files #
*.war
*.ear

# maven
target/

# tx-lcn
.txlcn